



    <div class="ui-g">
      <div class="ui-g-12 ui-fluid" >
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-12">
            <div class="ui-g-12 ui-md-4">

            <span>
                <input type="file" class="file-input" style= "width: 95%;"
                       [accept]="requiredFileType"
                       (change)="onFileSelected($event)" #fileUpload>
            </span>
              <div class="progress">
                <mat-progress-bar class="progress-bar" mode="determinate"
                                  [value]="uploadProgress" *ngIf="uploadProgress">

                </mat-progress-bar>

                <mat-icon class="cancel-upload" (click)="cancelUpload()"
                          *ngIf="uploadProgress">delete_forever
                </mat-icon>

              </div>
            </div>
          </div>

          <div class="ui-g-12 ui-md-12" style="margin-top: 10px;">
            <p-button icon="pi pi-upload" (click)="uploadFile()" label="Upload"></p-button>
<!--            <button mat-button  style="margin-top: 10px; margin-bottom: 10px" (click)="uploadFile()">Upload</button>-->

          </div>



        </div>
      </div>
    </div>


    <!--    <excel-mapping-dialog [excelDialogDisplay]="excelDialogDisplay" [excelData] ="displayData" (onClose)="onExcelDialogClose()">-->

    <!--    </excel-mapping-dialog>-->



