<div class="row margin25">
  <div class="col-md-6">
    <h3><b>Data Mapping</b></h3>
  </div>
  <div class="col-md-6">
    <h3 style="float: right;"><b>File Name: Employee.xlsx</b></h3>
  </div>
</div>
<br><br>

<mat-card style="background-color: #eeeeee;">
  <mat-card-content>
    <div class="content">
      <div class="row margin25">
        <section style="width: 50%; padding-left: 20%;">
          <p><b>Select Table: </b></p>
          <mat-form-field appearance="outline">
            <mat-select name="tableElement" placeholder="Select a table"
              (selectionChange)="onTableChange($event)">
              <mat-option *ngFor="let item of tables" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </section>

        <section style="width: 50%; padding-right: 20%;">
          <p><b>Mapper: </b></p>
          <mat-form-field appearance="outline">
            <mat-select name="periodicElement" placeholder="Select a mapper" [(ngModel)] = "selectedMapperId"
              (selectionChange)="onMapperSelect($event.value)">
              <mat-option *ngFor="let mapperNameObj of mapperNameList" [value]="mapperNameObj._id">
                {{mapperNameObj.mapperName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </section>
      </div>


      <table *ngIf="showTable" [dbColumns] = "dbColumnList" 
            (saveMappingEvent)="onSaveMapping($event)"></table>
    </div>
  </mat-card-content>
   

</mat-card>
<!-- <mat-card style="margin-top: 10px;" *ngIf="showTable">
    <table mat-table [dataSource]="dataSource" style="width: 100%;">
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name (empName)</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address (empAddress)</th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>
    
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age (empAge)</th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    
  </mat-card> -->

<!-- <p-dialog header="Title" [(visible)]="displayDialog" [style]="{width: '50vw'}">
    <mat-card>
  
    </mat-card>
  </p-dialog> -->